node_modules
dist
dist-ssr
*.local
.DS_Store

# rust
core/target
src-tauri/target

# editors
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# logs
logs
*.log
npm-debug.log*
